<!-- <header class="header">

</header> -->
<section class="about-us container">
    
    <ul class="about-us-list">
        <li class="about-us-list-item">
      <h1 class="about-us-title" id="aboutus">About us</h1>
        </li>
        <div class="abous-us-list-div">
            <li class="about-us-list-item first">
                <p class="about-us-text">Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable and stylish accessory on your wrist.</p></li>
            <li class="about-us-list-item second">
                <p class="about-us-text">At our premium watch collection, we believe that a watch is more than just a timekeeping device – it's a statement piece that reflects your personality and style. So why settle for anything less than the best? Browse our collection today and discover the perfect watch for you.</p>
            </li>
        </div>
        
    </ul>

<img class="about-us-gif" src="../img/about-us/watchspot.gif" alt="Our watches gif">
</section>
