<section class="catalog">
    <div class="container">
        <h2 class="section-header">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-1.webp 1x, ./img/catalog/catalog-pic-1@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-1.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Tube Watch S42 Date Steel With Black...</p>
                <span class="item-price">€395</span>
            </li>
            <li class="catalog-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-2.webp 1x, ./img/catalog/catalog-pic-2@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-2.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Avondale Watch Police For Men</p>
                <span class="item-price">€800</span>
            </li>
            <li class="catalog-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-3.webp 1x, ./img/catalog/catalog-pic-3@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-3.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Diver 300M Co-Axial Master Chronometer</p>
                <span class="item-price">€600</span>
            </li>
            <li class="catalog-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-4.webp 1x, ./img/catalog/catalog-pic-4@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-4.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Diver 300M Co-Axial Master Chronometer </p>
                <span class="item-price">€1400</span>
            </li>
            <li class="catalog-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-5.webp 1x, ./img/catalog/catalog-pic-5@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-5.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Taman Watch By Police For Men</p>
                <span class="item-price">€500</span>
            </li>
            <li class="catalog-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-6.webp 1x, ./img/catalog/catalog-pic-6@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-6.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Malawi Watch Police For Men</p>
                <span class="item-price">€555</span>
            </li>
            <li class="catalog-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-7.webp 1x, ./img/catalog/catalog-pic-7@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-7.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Diver 300M Co-Axial Master Chronometer </p>
                <span class="item-price">€1200</span>
            </li>
            <li class="catalog-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-8.webp 1x, ./img/catalog/catalog-pic-8@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-8.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Greenlane Watch By Police For Men</p>
                <span class="item-price">€1000</span>
            </li>
            <li class="catalog-list-item pc-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-9.webp 1x, ./img/catalog/catalog-pic-9@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-9.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Squardrc 5402 Chrono</p>
                <span class="item-price">€359</span>
            </li>
            <li class="catalog-list-item pc-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-10.webp 1x, ./img/catalog/catalog-pic-10@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-10.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Diver  300M Co‑Axial Master</p>
                <span class="item-price">€400</span>
            </li>
            <li class="catalog-list-item pc-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-11.webp 1x, ./img/catalog/catalog-pic-11@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-11.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Citizen</p>
                <span class="item-price">€519</span>
            </li>
            <li class="catalog-list-item pc-list-item">
                <div class="img-wrap">
                    <picture>
                        <source srcset="./img/catalog/catalog-pic-12.webp 1x, ./img/catalog/catalog-pic-12@2x.webp 2x" type="image/webp">
                        <img class="catalog-list-img" src="./img/catalog/catalog-pic-12.png" width="335"
                            alt="Tube Watch S42">
                    </picture>
                    <svg class="item-icon" width="24" height="24">
                        <use href="../img/icons.svg#heart"></use>
                    </svg>
                    <div class="item-info-wrap">
                        <h3 class="catalog-list-name info-header">Description</h3>
                        <p class="catalog-list-name info-text">Richly detailed with an understated design - the Police
                            Men’s Greenlane watch.</p>
                        <h3 class="catalog-list-name info-header">details & featurestion</h3>
                        <p class="catalog-list-name info-text">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel <br>
                        </p>
                    </div>
                </div>
                <p class="catalog-list-name">Armani Exchange</p>
                <span class="item-price">€400</span>
            </li>
        </ul>
        <button data-modal-open type="button" class="button buy-button">buy now</button>
    </div>
</section>