<footer class="footer">
    <div class="container footer-container">
        <div class="footer-wrap">
            <div>
                <a class="footer-logo-link" href="./index.html">
                    <load src="partials/logo.html" />
                </a>
                <a class="footer-tel-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
                <a class="footer-adress-link" href="https://goo.gl/maps/9tQU8yHU8ntjk18s5" target="_blank"
                    rel="noopener noreferrer nofollow">
                    1678 S. Pioneer Road<br>
                    Salt Lake City<br>
                    UT 84104
                </a>
            </div>
            <div>
                <div class="footer-nav">
                    <ul class="footer-nav-list">
                        <li class="footer-nav-list-item"><a class="footer-nav-list-link" href="#aboutus">About us</a>
                        </li>
                        <li class="footer-nav-list-item"><a class="footer-nav-list-link" href="#catalog">Catalog</a>
                        </li>
                        <li class="footer-nav-list-item"><a class="footer-nav-list-link" href="#sale">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-sn">
                <ul class="footer-sn-list">
                    <li class="footer-sn-item">
                        <a class="footer-sn-link" href="https://www.facebook.com/" target="_blank"
                            rel="noopener noreferrer nofollow">
                            <svg width="24" height="24" class="footer-sn-icon">
                                <use href="./img/icons.svg#facebook-24"></use>
                            </svg>
                            <svg width="28" height="28" class="footer-sn-icon-big">
                                <use href="./img/icons.svg#facebook-28"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-sn-item">
                        <a class="footer-sn-link" href="https://www.instagram.com/">
                            <svg width="24" height="24" class="footer-sn-icon">
                                <use href="./img/icons.svg#instagram-24"></use>
                            </svg>
                            <svg width="28" height="28" class="footer-sn-icon-big">
                                <use href="./img/icons.svg#instagram-28"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-sn-item">
                        <a class="footer-sn-link" href="https://www.youtube.com/">
                            <svg width="24" height="24" class="footer-sn-icon">
                                <use href="./img/icons.svg#youtube-24"></use>
                            </svg>
                            <svg width="28" height="28" class="footer-sn-icon-big">
                                <use href="./img/icons.svg#youtube-28"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-privacy">
            <p class="footer-privacy-text">
                <span>&#169;</span>2022 The Watch Spot. All rights reserved.
            </p>
            <ul class="footer-privacy-list">
                <li class="footer-privacy-list-item">
                    <a class="footer-privacy-list-link" href="" target="_blank"
                        rel="noopener noreferrer nofollow">Privacy Policy</a>
                </li>
                <li class="footer-privacy-list-item">
                    <a class="footer-privacy-list-link" href="" target="_blank" rel="noopener noreferrer nofollow">Terms
                        of Service</a>
                </li>
            </ul>
        </div>
    </div>
</footer>