<header class="header ">
<div class="container-header container">
  <div class="logo">
  <a href="./index.html" class="logo-svg"><load src="partials/logo.html" class=""/></a>
  <a href="./index.html" class="text-link">thewatchspot</a>
</div>
<nav class="nav-menu">  
<ul class="header-link">
<li href="#about us" class="text-header">ABOUT US</li>
<li href="#catalog" class="text-header">CATALOG</li>
<li  href="#sale" class="text-header">SALE</li>
</ul>
</nav> 
<address><a  href="tel:+380684439426" class="address">+380 (68) 443-94-26</a></address>
 
<button type="button" class="menu-open" data-menu-open><svg class="menu-icon" width="24" height="24"><use href="./src/img/header/logo-img#menu-left"></use></svg></button>
</div>


<div class="mob-menu is-hidden" data-menu>
    <div class="">
      <div class="logo">
        <a href="./index.html" class="logo-svg"><load src="partials/logo.html" class=""/></a>
        <a href="./index.html" class="text-link">thewatchspot</a> </div>
      <button type="button" class="menu-close" data-menu-close><svg class="" width="24" height="24"><use href="/src/img/header/logo-img#close-24"></use></svg></button>
    </div>
      <nav>
      <ul class="text-position" >
      <li href="#about us" class="text-menu">ABOUT US</li>
      <li href="#catalog" class="text-menu">CATALOG</li>
      <li  href="#sale" class="text-menu">SALE</li>
      </ul>
    </nav> 
     </div>
    


     <script src="/js/mobile-menu.js"></script>
</header>