<header class="header ">
<div class="container-header container">
 <div class="header-link-list">
  <div class="logo">
  <a href="./index.html" class="logo-svg" ><load src="partials/logo.html" />thewatchspot</a>
</div>
<nav class="nav-menu">  
<ul class="header-link">
<li><a href="#aboutus" class="text-header">ABOUT US</a></li>
<li><a href="#catalog" class="text-header">CATALOG</a></li>
<li><a href="#sale" class="text-header">SALE</a></li>
</ul>
</nav> 
</div>
<address><a  href="tel:+380684439426" class="address">+380 (68) 443-94-26</a></address>
 
<button type="button" class="menu-open" data-menu-open><svg class="menu-icon" width="24" height="24"><use href="./img/icons.svg#menu-left"></use></svg></button>
</div>


<div class="mob-menu is-hidden" data-menu>
    <div class="">
      <div class="logo">
        <a href="./index.html" class="logo-svg"><load src="partials/logo.html" class=""/></a>
        <a href="./index.html" class="text-link">thewatchspot</a> </div>
      <button type="button" class="menu-close" data-menu-close><svg class="menu-close-img" width="12" height="12"><use href="./img/icons.svg#close-20"></use></svg></button>
    </div>
    <div class="position">
      <nav >
        <ul>
        <li class="text-margin" ><a href="#aboutus" class="text-menu">ABOUT US</a></li>
        <li class="text-margin" ><a href="#catalog" class="text-menu">CATALOG</a></li>
        <li class="text-margin" ><a href="#sale" class="text-menu">SALE</a></li>
      </ul>
    </nav> 
  </div>
     </div>
    
     <script src="/js/mobile-menu.js"></script>
</header>