<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close" data-modal-close type="button">
      <svg width="10" height="10" class="modal-close-icon">
        <use href="./images/icon/symbol-defs.svg#icon-close-black-18dp"></use>
      </svg>
    </button>

    <div class="modal-catalog-wrap">
      <img
        class="modal-catalog-img"
        src="./images/portfolio/raw1/img.jpg"
        srcset="
          ./images/portfolio/raw1/img.jpg    1x,
          ./images/portfolio/raw1/img-2x.jpg 2x
        "
        alt="image"
        width="360"
        height="300"
      />

      <div class="modal-text-wrap">
        <h2 class="modal-text-wrap-title">
          Tube Watch S42 Date Steel With Black Case
        </h2>
        <p class="modal-text-wrap-text">€395</p>
      </div>
    </div>

    <form class="modal-form">
      <div class="modal-user-input">
        <div class="modal-input-wrap">
          <label for="user-name" class="modal-label-text">Full name</label>

          <input
            type="text"
            class="modal-input"
            placeholder="Enter your full name"
            name="user-name"
            required
            id="user-name"
          />
        </div>

        <div class="modal-input-wrap">
          <label for="user-name" class="modal-label-text">Email</label>

          <input
            type="text"
            class="modal-input"
            placeholder="Enter your email"
            name="user-name"
            required
            id="user-name"
          />
        </div>

        <div class="modal-input-wrap">
          <label for="user-name" class="modal-label-text">Card number</label>

          <input
            type="text"
            class="modal-input"
            placeholder="Enter card"
            name="user-name"
            required
            id="user-name"
          />
        </div>

        <div class="modal-input-wrap">
          <label for="user-comment" class="modal-label-text">Comments</label>
          <textarea
            name="user-comment"
            id="user-comment"
            class="modal-textarea"
            placeholder="Enter your text"
          ></textarea>
        </div>
      </div>

      <button class="modal-sent-btn btn" type="submit">SUBMIT</button>
      <p class="modal-sent-btn-text">
        By clicking on “Submit” button, you agree to our Privacy Policy, and
        allow Promodo to use this information for marketing purposes.
      </p>
    </form>
  </div>
</div>
