<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close" data-modal-close type="button">
      <svg width="10" height="10" class="modal-close-icon">
        <use href="./img/icons.svg#close-20"></use>
      </svg>
    </button>

    <div class="modal-wrap">
      <div class="modal-catalog-wrap">
        <img class="modal-catalog-img" src="./img/catalog/catalog-pic-1.png" srcset="
            ./img/catalog/catalog-pic-1.webp 1x,
            ./img/catalog/catalog-pic-1@2x.webp 2x" alt="image" width="276" height="274" />

        <p class="modal-text-wrap-title">
          Tube Watch S42 Date Steel With Black...
          <span class="modal-text-wrap-text">€395</span>
        </p>

      </div>

      <form class="modal-form">
        <div class="modal-user-input">
          <div class="modal-input-wrap">
            <label for="user-name" class="modal-label-text">Full name</label>

            <input type="text" class="modal-input" placeholder="Enter your full name" name="user-name"
              pattern="^(\w\w+)\s(\w+)$" required id="user-name" />
          </div>

          <div class="modal-input-wrap">
            <label for="user-email" class="modal-label-text">Email</label>

            <input type="email" class="modal-input" placeholder="Enter your email" name="user-email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required id="user-email" />
          </div>

          <div class="modal-input-wrap">
            <label for="user-card" class="modal-label-text">Card number</label>

            <input class="modal-input" placeholder="Enter card" name="user-card" type="tel" inputmode="numeric"
              pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" required id="user-card" />
          </div>

          <div class="modal-input-wrap">
            <label for="user-comment" class="modal-label-text">Comments</label>
            <textarea name="user-comment" id="user-comment" class="modal-textarea"
              placeholder="Enter your text"></textarea>
          </div>
        </div>

        <div class="modal-submit">
          <button class="modal-sent-btn" type="submit">submit</button>
          <p class="modal-sent-btn-text">
            By clicking on “Submit” button, you agree to our <a href="./" class="modal-link">Privacy Policy</a>,
            and allow Promodo to use this information for marketing purposes.

          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/modal.js"></script>