<div class="backdrop is-hidden" data-modal> 
    <div class="modal">
      <button class="modal-close" data-modal-close type="button">
        <svg width="10" height="10" class="modal-close-icon">
          <use
            href="./images/icon/symbol-defs.svg#icon-close-black-18dp"
          ></use></svg>
      </button>
               
          <form class="modal-form">
            
            
                <!-- <div class="modal-wrap">
                  <div class="modal-box-overlay">
                  
                    <img class="modal-img" 
                  src="./images/portfolio/raw1/img.jpg" 
                  srcset="./images/portfolio/raw1/img.jpg 1x, ./images/portfolio/raw1/img-2x.jpg 2x"
                  alt="image" width="360" height="300" />
                  
                    <p class="modal-overlay-text"> </p>
                  </div>

                  <div class="modal-text-wrap">
                      <h2 class="modal-wrap-title">Tube Watch S42 Date Steel With Black Case</h2>
                        <p class="modal-wrap-text">€395</p>
                  </div>
                </div> -->
           
            

            <div class="modal-user-input">
              <div class="modal-wrap">
                <label for="user-name" class="modal-label-text">Full name</label>
                  
                    <input type="text" 
                    class="modal-input" 
                    placeholder="Enter your full name"
                    name="user-name"
                    required
                    id="user-name"
                    >
                                   
              </div >
              

              <div class="modal-wrap">
                <label for="user-name" class="modal-label-text">Email</label>
                  
                    <input type="text" 
                    class="modal-input" 
                    placeholder="Enter your email"
                    name="user-name"
                    required
                    id="user-name"
                    >
                                   
              </div >
              

              <div class="modal-wrap">
                <label for="user-name" class="modal-label-text">Card number</label>
                  
                    <input type="text" 
                    class="modal-input" 
                    placeholder="Enter card"
                    name="user-name"
                    required
                    id="user-name"
                    >
                                   
              </div >
              
             <div class="modal-wrap">
               <label for="user-comment" class="modal-label-text">Comments</label>
               <textarea 
               name="user-comment" 
               id="user-comment" 
               class="modal-textarea"
               placeholder="Enter your text"></textarea>
              </div >
            </div >

            <!-- <div class="modal-wrap modal-checkbox">
              <input 
              class="modal-check visually-hidden" 
              type="checkbox" 
              id="privacy" 
              name="user-privacy" 
              value="true">
              <label 
              for="privacy" 
              class="modal-checkbox-text">
             <span class="check-icon-frame">
              <svg class="check-icon" width="10" height="8">
              <use href="./images/icon/symbol-defs.svg#icon-Vector"></use>
            </svg></span>
                               
              I accept the terms and conditions of the <a href="./" class="check-privacy">Privacy Policy</a ></label>
             </div>  -->

             <button class="modal-sent-btn btn" type="submit">SUBMIT</button>
                <p class="modal-sent-btn-text">By clicking on “Submit” button, you agree to our Privacy Policy, and allow Promodo to use this information for marketing purposes.</p>
          </form>
           
          
    </div>
  </div>