<section class="new-watch">
    <div class="container">
      <h2 class="new-watch-first">New watches</h2>
      <h3 class="new-watch-second">Green And Bronze—The Match Made In Heaven</h3>
      <ul class="new-watch-list">
     <li class="new-watch-item">
      <picture>
        <source 
        srcset="
                ./img/new-watches/new-watches-hand-mobile.jpg     335w,
                ./img/new-watches/new-watches-hand-mobile@2x.jpg  670w
              "
              media="(max-width: 767px)"
              sizes="(min-width: 375px) 335px, 100vw"
              type="image/jpeg"
            />
              <source
              srcset="
                ./img/new-watches/new-watches-hand-table.jpg     342w,
                ./img/new-watches/new-watches-hand-table@2x.jpg  684w
              "
              media="(max-width: 1279px)"
              sizes="(min-width: 768px) 342px, 100vw"
              type="image/jpeg"
            />
            <source
            srcset="
              ./img/new-watches/new-watches-hand-pc.jpg    576w,
              ./img/new-watches/new-watches-hand-pc@2x.jpg    1152w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 1280px) 576px, 100vw"
            type="image/jpeg"
          />
          <img src="./img/new-watches/new-watches-hand-pc.jpg" alt="Watch" />
      </picture>
     </li>
     <li class="new-watch-item">
      <picture>
        <source
              srcset="
                ./img/new-watches/new-watches-clock-mobile.jpg     335w,
                ./img/new-watches/new-watches-clock-mobile@2x.jpg   670w
              "
              media="(max-width: 767px)"
              sizes="(min-width: 375px) 335px, 100vw"
              type="image/jpeg"
            />
            <source
              srcset="
              ./img/new-watches/new-watches-clock-table.jpg     342w,
              ./img/new-watches/new-watches-clock-table@2x.jpg   684w
              "
              media="(max-width: 1279px)"
              sizes="(min-width: 768px) 342px, 100vw"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/new-watches/new-watches-clock-pc.jpg      576w,
                ./img/new-watches/new-watches-clock-pc@2x.jpg 1152w
              "
              media="(min-width: 1280px)"
              sizes="(min-width: 1280px) 576px, 100vw"
              type="image/jpeg"
            />
            <img src="./img/new-watches/new-watches-clock-pc.jpg" alt="Watch" />
      </picture>
     </li>
      </ul>
  </div>
  </section>