<section class="sale">
    <div class="container sale-container">

        <h2 class="sale-title" id="sale">Sale</h2>

        <div class="sale-blocks">

            <div class="images">

                <ul class="images-list">
                    <li>
                        <picture>
                            <source
                                srcset="./img/sale/sale-pic-1-pc-table.jpg 1x, ./img/sale/sale-pic-1-pc-table@2x.jpg 2x"
                                type="image/jpeg" media="(min-width: 768px)" sizes="(min-width: 768px) 146px">

                            <source srcset="./img/sale/sale-pic-1-mobile.jpg 1x, ./img/sale/sale-pic-1-mobile@2x.jpg 2x"
                                type="image/jpeg" media="(max-width: 767px)" sizes="(max-width: 767px) 80px">

                            <img src="./img/sale/sale-pic-1-pc-table.jpg" alt="Wrist watch on black background">
                        </picture>
                    </li>

                    <li>
                        <picture>
                            <source
                                srcset="./img/sale/sale-pic-2-pc-table.jpg 1x, ./img/sale/sale-pic-2-pc-table@2x.jpg 2x"
                                type="image/jpeg" media="(min-width: 768px)" sizes="(min-width: 768px) 146px">

                            <source srcset="./img/sale/sale-pic-2-mobile.jpg 1x, ./img/sale/sale-pic-2-mobile@2x.jpg 2x"
                                type="image/jpeg" media="(max-width: 767px)" sizes="(max-width: 767px) 80px">

                            <img src="./img/sale/sale-pic-2-mobile.jpg"
                                alt="Side view of wrist watch on black background">
                        </picture>
                    </li>

                    <li>
                        <picture>
                            <source
                                srcset="./img/sale/sale-pic-3-pc-table.jpg 1x, ./img/sale/sale-pic-3-pc-table@2x.jpg 2x"
                                type="image/jpeg" media="(min-width: 768px)" sizes="(min-width: 768px) 146px">

                            <source srcset="./img/sale/sale-pic-3-mobile.jpg 1x, ./img/sale/sale-pic-3-mobile@2x.jpg 2x"
                                type="image/jpeg" media="(max-width: 767px)" sizes="(max-width: 767px) 80px">

                            <img src="./img/sale/sale-pic-3-mobile.jpg"
                                alt="The inside of a wrist watch on a black background">
                        </picture>
                    </li>

                    <li>
                        <picture>
                            <source
                                srcset="./img/sale/sale-pic-4-pc-table.jpg 1x, ./img/sale/sale-pic-4-pc-table@2x.jpg 2x"
                                type="image/jpeg" media="(min-width: 768px)" sizes="(min-width: 768px) 146px">

                            <source srcset="./img/sale/sale-pic-4-mobile.jpg 1x, ./img/sale/sale-pic-4-mobile@2x.jpg 2x"
                                type="image/jpeg" media="(max-width: 767px)" sizes="(max-width: 767px) 80px">

                            <img src="./img/sale/sale-pic-4-mobile.jpg" alt="Wristwatch dial on black background">
                        </picture>
                    </li>
                </ul>

                <div>
                    <picture>
                        <source
                            srcset="./img/sale/sale-primary-pc-table.jpg 1x, ./img/sale/sale-primary-pc-table@2x.jpg 2x"
                            type="image/jpeg" media="(min-width: 768px)" sizes="(min-width: 768px) 406px">

                        <source srcset="./img/sale/sale-primary-mobile.jpg 1x, ./img/sale/sale-primary-mobile@2x.jpg 2x"
                            type="image/jpeg" media="(max-width: 767px)" sizes="(max-width: 767px) 235px">

                        <img class="image" src="./img/sale/sale-primary-mobile.jpg"
                            alt="Wrist watch on black background">
                    </picture>
                </div>

            </div>

            <div class="product">

                <div class="product-name">
                    <h3 class="name-title">Greenlane Watch By Police For MenHT</h3>
                    <p class="product-tag">Product tag: PEWJK2227003</p>
                    <ul class="price-list">
                        <li class="price-item-bold">€700</li>
                        <li class="price-item">€1000</li>
                    </ul>
                </div>

                <div class="product-description">
                    <h4 class="description-subtitle">DESCRIPTION</h4>
                    <p class="description-text">Richly detailed with an understated design - the Police Men’s Greenlane
                        watch
                        features a versatile multifunction design
                        that fits effortlessly into work and play. The steel case is adorned with a semi-transparent
                        black
                        dial.
                        The
                        timepiece
                        exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
                </div>

                <div class="product-details">
                    <h5 class="details-subtitle">DETAILS & FEATURESTION</h5>
                    <ul class="details-list">
                        <li class="details-item">Gender: man</li>
                        <li class="details-item">Size: 46x54.5mm</li>
                        <li class="details-item">Case Colour: Steel</li>
                        <li class="details-item">Case Material: Metal</li>
                        <li class="details-item">Features: Multifunction</li>
                        <li class="details-item">Water Resistant: 5 (ATM)</li>
                        <li class="details-item">Band Colour: Steel</li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
</section>